body{
	font-family: verdana;
	height: 640px;
	background: linear-gradient(to bottom, black, red );
}

.top{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 77px;
}

.asidel{
	position: fixed;
	top: 90px;
	left: 0px;
	height: 563px;
	width: 109px;
	color: white;
}

.asider{
	position: fixed;
	top: 100px;
	left: 1060px;
	height: 563px;
	right: 0px;
	color: white;
}

.article{
	position: absolute;
	top: 100px;
	left: 110px;
	width: 948px;
	height: 543px;
	overflow: auto;
}



.footer{
	position: fixed;
	top: 645px;
	left: 0;
	height: 25px;
	width: 100%;
	color: white;
	background: black;
}



#image1{
	width: 300px;
	left: 500px;
	font-size: 30px;
	color: white;
	margin-top: 30px;
	font-family: verdana;
	text-decoration: none;
	opacity: 0.9;
}

img#image2{
	width: 90px;
	height: 100px;
	left: 30px;	
}

img#image3{
	width: 90px;
	height: 100px;
	left: 1180px;	
}

#button{
	top: 100px;
	left: 5px;
	height: 300px;
	width: 100px;
	color: white;
}


#b1,#b2,#b3,#b4,#b5,#b6{
	color: gold;
	border: 2px solid gold;
	cursor: pointer;
	margin-bottom: 3px;
}

#update{
	height: 200px;
	color: white;
}

#bottom{
	top: 120px;
	padding-left: 20px;
}

a:link{
	text-decoration: none;
	color: white;
}

a:visited{
	text-decoration: none;
	color: white;
}

a:active{
	text-decoration: none;
	color: blue;
}

a:hover{
	text-decoration: underline;
	color: red;
}

h1{
	text-decoration: underline;
	font-size: 20px;
}

h2{
	font-size: 30px;
	text-align: center;
	color: white;
	margin-left: 10px;
}

h3{
	color: white;
	margin-left: 10px;
}

#para1{
	color: white;
	font-family: sans-serif;
	margin-left: 15px;
	margin-right: 10px;
}




footer{
	position: fixed;
	margin-top: 640px;
	margin-left: 500px;
	width: 200px;
	height: 20px;
	color: white;
}